<template>
  <div class="pokeFilters-container mt-3 mb-3">
    <div
      :class="`pokeFilter ${
        selectedPokeTypes.includes(pokeType) ? 'selectedFilter' : ''
      }`"
      v-for="pokeType in pokeTypes"
      :key="pokeType"
      @click="togglePokeTypeSelection(pokeType)"
    >
      <img
        v-if="pokeType !== 'all'"
        :src="require(`@/assets/img/poketypes/${pokeType}.svg`)"
        :alt="pokeType"
      />
      {{ pokeType }}
    </div>
  </div>
</template>
  
<script lang="ts">
import {
  defineComponent,
  ref,
  onMounted,
  onUnmounted,
  inject,
  watch,
} from "vue";
import {
  EVENTS,
  PokeService,
  POKEMON_TYPE_WILDCARD,
} from "@/services/pokeService";
import { Pokemon } from "@/types/pokemon";

export default defineComponent({
  name: "PokeTypeSelector",
  props: {
    pokesToDisplay: Array as () => Pokemon[],
    default: () => [],
  },
  emits: ["typeSelectionChanged"],
  setup(props, { emit }) {
    const pokeService: PokeService = inject("pokeService") as PokeService;
    const pokeTypes = ref<string[]>([]);
    const selectedPokeTypes = ref<string[]>([POKEMON_TYPE_WILDCARD]);

    const togglePokeTypeSelection = (pokeType: string) => {
      if (selectedPokeTypes.value.includes(pokeType)) {
        selectedPokeTypes.value = selectedPokeTypes.value.filter(
          (selectedPokeType) => selectedPokeType !== pokeType
        );
      } else {
        if (pokeType !== POKEMON_TYPE_WILDCARD) {
          selectedPokeTypes.value = [
            ...selectedPokeTypes.value.filter(
              (pokeType) => pokeType !== POKEMON_TYPE_WILDCARD
            ),
          ];
        }
        selectedPokeTypes.value = [...selectedPokeTypes.value, pokeType];
      }
      if (selectedPokeTypes.value.length === 0) {
        selectedPokeTypes.value = [POKEMON_TYPE_WILDCARD];
      }
    };

    onMounted(() => {
      //TODO: REFACTOR TO A SEPARATE FUNCTION
      window.addEventListener(EVENTS.TYPES_LOADED, function () {
        pokeTypes.value = [
          POKEMON_TYPE_WILDCARD,
          ...pokeService.getPokeTypes(),
        ];
      });
    });

    onUnmounted(() => {
      window.removeEventListener(EVENTS.TYPES_LOADED, function () {
        pokeTypes.value = [
          POKEMON_TYPE_WILDCARD,
          ...pokeService.getPokeTypes(),
        ];
      });
    });

    watch(
      () => selectedPokeTypes.value,
      (selection, prevSelection) => {
        emit("typeSelectionChanged", selection);
      }
    );

    return {
      pokeTypes,
      selectedPokeTypes,
      togglePokeTypeSelection,
    };
  },
});
</script>
  
<style scoped lang="scss">
.pokeFilters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokeFilter {
  min-width: calc((100% / 8) - 20px);
  height: 46px;
  border-radius: 500px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(238, 238, 238);
  text-transform: capitalize;
}

.selectedFilter {
  background-color: cyan;
}

.pokeFilter:hover {
  border: 1px solid cyan;
  transform: scale(1.05);
}
</style>
  