<template>
  <article class="pokeCard d-flex flex-column">
    <div class="" :style="`--bg-color: ${pokemon?.pokeData.color.name};`">
      <h2 class="text-start m-3 mb-0">#{{ pokemon?.pokeData.order }}</h2>
      <img
        class="pokeImage"
        height="150px"
        :src="`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/${pokemon?.pokeData.order}.svg`"
        :alt="pokemon?.pokeName"
      />
      <div class="pokeName">{{ pokemon?.pokeName }}</div>
      <div class="pokeTypes d-flex justify-content-center">
        <div
          class="pokeTypeFrame"
          v-for="pokeType in pokemon?.pokeData.types"
          :key="pokeType"
        >
          <img
            :src="require(`@/assets/img/poketypes/${pokeType}.svg`)"
            :alt="pokeType"
          />
        </div>
      </div>
    </div>
  </article>
</template>
  
<script lang="ts">
import { Pokemon } from "@/types/pokemon";
import { defineComponent, PropType } from "vue";

export default defineComponent({
  name: "PokemonCard",
  props: {
    pokemon: Object as PropType<Pokemon>,
  },
});
</script>
  
<style scoped lang="scss">
.pokeCard {
  width: 20%;
  height: auto;
  padding: 1rem;
  position: relative;
  filter: saturate(0.5);
}

.pokeCard:hover {
  filter: saturate(1);
}

.pokeCard:hover * {
  transition: all 0.1s linear;
}

.pokeCard:hover .pokeImage,
.pokeCard:hover .pokeName {
  transform: scale(1.5) translateY(-25%);
  color: var(--bg-color);
  font-weight: 600;
}

.pokeCard > div {
  border: solid 2px var(--bg-color);
  border-radius: 5px;
}

.pokeCard > div::before {
  content: "";
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  border-radius: 5px;
  opacity: 0.3;
  background-color: var(--bg-color);
  z-index: -1;
}

.pokeCard:hover > div::before {
  filter: saturate(1);
}

.pokeName {
  margin: 10px 10px 30px 10px;
  font-size: large;
  text-transform: uppercase;
}

.pokeTypes {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.pokeTypeFrame {
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  background-color: white;
}
</style>
  