<template>
  <section class="row g-0">
    <div
      v-if="pokesToDisplay?.length === 0"
      class="d-flex flex-column align-items-center"
    >
      <img
        alt="no results found"
        width="100px"
        src="./../assets/not-found.png"
      />
      <span class="mt-2"
        >Ooops! No results found maching the provided criteria</span
      >
    </div>
    <PokeCard
      v-else
      v-for="poke in pokesToDisplay"
      :key="poke.pokeName"
      :pokemon="poke"
    />
  </section>
</template>
    
<script lang="ts">
import PokeCard from "@/components/pokeCard.vue";
import { Pokemon } from "@/types/pokemon";

import { defineComponent } from "vue";

export default defineComponent({
  name: "PokeDisplay",
  components: {
    PokeCard,
  },
  props: {
    pokesToDisplay: Array as () => Pokemon[],
    default: () => [],
  },
  emits: [""],
  setup(props, { emit }) {
    return {};
  },
});
</script>
    
<style scoped lang="scss">
</style>
    