<template>
  <aside class="pokePagination m-3">
    <div class="d-flex gap-2 justify-content-end">
      <div
        :class="`paginationButton ${currentPage === 1 ? 'disabledButton' : ''}`"
        @click="
          () => {
            currentPage === 1 ? null : currentPage--;
          }
        "
      >
        Prev
      </div>
      <div
        v-for="page in getPaginationModel"
        :key="page"
        @click="changeCurrentPage(page)"
        :class="`paginationButton ${
          currentPage === page ? 'activeButton' : ''
        }`"
      >
        <span>{{ page }}</span>
      </div>
      <div
        :class="`paginationButton ${
          currentPage === totalPages ? 'disabledButton' : ''
        }`"
        @click="
          () => {
            currentPage === totalPages ? null : currentPage++;
          }
        "
      >
        Next
      </div>
    </div>
  </aside>
</template>
    
<script lang="ts">
import { computed, defineComponent, ref, watch } from "vue";

export default defineComponent({
  name: "PokePagination",
  props: {
    totalPokemon: {
      type: Number,
      default: 0,
    },
    pokemonPerPage: {
      type: Number,
      default: 10,
    },
    parentPage: {
      type: Number,
      default: 1,
    },
  },
  emits: ["pageChangeRequested"],
  setup(props, { emit }) {
    const currentPage = ref<number>(props.parentPage);

    watch(
      () => props.parentPage,
      (newValue, oldValue) => {
        currentPage.value = newValue;
      }
    );

    const totalPages = computed(() => {
      return Math.ceil(props.totalPokemon / props.pokemonPerPage);
    });

    const getPaginationModel = computed(() => {
      const result = [];
      const numberOfDivs = totalPages.value;
      for (let i = 1; i <= numberOfDivs; i++) {
        result.push(i);
      }
      return result;
    });

    const changeCurrentPage = (targetPage: number) => {
      currentPage.value = targetPage;
    };

    watch(
      () => currentPage.value,
      (selection, prevSelection) => {
        emit("pageChangeRequested", selection);
      }
    );

    return {
      currentPage,
      totalPages,
      getPaginationModel,
      changeCurrentPage,
    };
  },
});
</script>
    
<style scoped lang="scss">
.paginationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}

.paginationButton:hover {
  border: 1px solid cyan;
  transform: scale(1.05);
}

.activeButton {
  background-color: cyan;
}

.disabledButton {
  color: gray;
  cursor: not-allowed;
}
</style>
    