<template>
  <header class="searchBar">
    <img alt="pokeApi logo" src="./../assets/logo.svg" width="320px" />
    <div>
      <input
        class="searchInput"
        type="text"
        @input="handleInput"
        list="pokeNames"
        placeholder="Search by Pokemon name"
      />
      <datalist id="pokeNames">
        <option v-for="name in pokeNames" :key="name" :value="name">
          {{ name }}
        </option>
      </datalist>
    </div>
  </header>
</template>
  
<script lang="ts">
import { EVENTS, PokeService } from "@/services/pokeService";
import { defineComponent, inject, onMounted, onUnmounted, ref } from "vue";

export default defineComponent({
  name: "SearchBar",
  props: {
    options: Array,
    default: () => [],
  },
  emits: ["search"],
  setup(props, { emit }) {
    const pokeService: PokeService = inject("pokeService") as PokeService;
    const pokeNames = ref<string[]>([]);
    const searchTerm = ref<string>("");

    const handleInput = (event: any) => {
      searchTerm.value = event.target.value;
      emit("search", event.target.value);
    };

    onMounted(() => {
      //TODO: REFACTOR TO A SEPARATE FUNCTION
      window.addEventListener(EVENTS.NAMES_LOADED, function () {
        pokeNames.value = pokeService.getPokeNames();
      });
    });

    onUnmounted(() => {
      window.removeEventListener(EVENTS.NAMES_LOADED, function () {
        pokeNames.value = pokeService.getPokeNames();
      });
    });

    return {
      pokeNames,
      searchTerm,
      handleInput,
    };
  },
});
</script>
  
<style scoped lang="scss">
.searchBar {
  background-color: #484f57;
  padding: 20px;
}

.searchInput {
  width: 300px;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  background-color: hsl(0, 0%, 94%);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  margin-top: 30px;
}
</style>
  