<template>
  <searchBar @search="onSearch" />
  <pokeTypeSelector @typeSelectionChanged="onTypeSelection" />
  <pokeDisplay :pokesToDisplay="pokeList" />
  <pokePagination
    :parentPage="currentPage"
    :totalPokemon="queryResultCount"
    :pokemonPerPage="10"
    @pageChangeRequested="onPageChange"
  />
</template>

<script lang="ts">
import { computed, defineComponent, inject, onMounted, ref, watch } from "vue";
import searchBar from "./components/searchBar.vue";
import pokeDisplay from "./components/pokeDisplay.vue";
import pokeTypeSelector from "./components/pokeTypeSelector.vue";
import pokePagination from "./components/pokePagination.vue";
import {
  EVENTS,
  POKEMON_TYPE_WILDCARD,
  PokeService,
} from "./services/pokeService";
import { Pokemon } from "./types/pokemon";

export default defineComponent({
  name: "App",
  components: {
    searchBar,
    pokeTypeSelector,
    pokeDisplay,
    pokePagination,
  },
  setup() {
    const pokeService: PokeService = inject("pokeService") as PokeService;
    const searchTerm = ref<string>("");
    const selectedTypes = ref<string[]>([POKEMON_TYPE_WILDCARD]);
    const pokeList = ref<Pokemon[]>([]);
    const queryResultCount = ref<number>(0);
    const currentPage = ref<number>(1);
    const RESULTS_PER_PAGE = 10;

    const onSearch = (pokemonToSearch: string) => {
      searchTerm.value = pokemonToSearch;
    };

    const onTypeSelection = (pokeTypes: string[]) => {
      selectedTypes.value = pokeTypes;
    };

    const onPageChange = (targetPage: number) => {
      currentPage.value = targetPage;
    };

    onMounted(() => {
      window.addEventListener(EVENTS.TYPES_LOADED, function () {
        pokeList.value = pokeService.getFilteredPokemon(
          RESULTS_PER_PAGE,
          currentSkip.value,
          searchTerm.value,
          selectedTypes.value
        );
        queryResultCount.value = pokeService.getQueryResultLength(
          RESULTS_PER_PAGE,
          currentSkip.value,
          searchTerm.value,
          selectedTypes.value
        );
      });
    });

    watch(
      () => searchTerm.value,
      (selection, prevSelection) => {
        currentPage.value = 1;
        pokeList.value = pokeService.getFilteredPokemon(
          RESULTS_PER_PAGE,
          currentSkip.value,
          selection,
          selectedTypes.value
        );
        queryResultCount.value = pokeService.getQueryResultLength(
          RESULTS_PER_PAGE,
          currentSkip.value,
          selection,
          selectedTypes.value
        );
      }
    );

    watch(
      () => selectedTypes.value,
      (selection, prevSelection) => {
        currentPage.value = 1;
        pokeList.value = pokeService.getFilteredPokemon(
          RESULTS_PER_PAGE,
          currentSkip.value,
          searchTerm.value,
          selection
        );
        queryResultCount.value = pokeService.getQueryResultLength(
          RESULTS_PER_PAGE,
          currentSkip.value,
          searchTerm.value,
          selection
        );
      }
    );

    watch(
      () => currentPage.value,
      (selection, prevSelection) => {
        pokeList.value = pokeService.getFilteredPokemon(
          RESULTS_PER_PAGE,
          currentSkip.value,
          searchTerm.value,
          selectedTypes.value
        );
        queryResultCount.value = pokeService.getQueryResultLength(
          RESULTS_PER_PAGE,
          currentSkip.value,
          searchTerm.value,
          selectedTypes.value
        );
      }
    );

    const currentSkip = computed(() => {
      return (currentPage.value - 1) * RESULTS_PER_PAGE;
    });

    return {
      onSearch,
      onTypeSelection,
      onPageChange,
      searchTerm,
      pokeList,
      queryResultCount,
      currentPage,
    };
  },
});
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
